<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New-Products</title>
        <%- include ('Partials/Header.ejs'); %>
        
    </head>
    <body>
        <%- include('Partials/Navigations'); %>
        <%- include('Partials/Title.main.ejs'); %>
        <div class="container p-4" >
           <h1>Contáctanos</h1>
        </div>
        <%- include('Partials/Footer'); %>
    </body>
</html>