<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Products</title>
        <%- include ('Partials/Header.ejs'); %>
        
    </head>
    <body>
        <%- include('Partials/Navigations'); %>
        <%- include('Partials/Title.main.ejs'); %>
        
        <%- include('Partials/Footer'); %>
    </body>
</html>